h1 {
    font-size: 70px;
    font-family: Impact;
    margin-bottom: -7px;
}

h2 {
    font-size: 45px;
    font-family: Impact;
    margin-top: -30px;
}

figcaption {
    margin-bottom: -15px;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ffd5d5;
    color: #333;
    margin: 0;
    padding: 0;
}

.menu {
    width: 80%;
    background-color: #dc9a9a;
    margin: auto;
    max-width: 980px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px;

}

.img {
    background-color: #b87070;
    display: inline-block;
    padding: 1.5%;
    border-radius: 4px;
}

.img figcaption{
    padding: 10px;
}


section {
    padding: 2rem;
}

ul, ol {
    list-style: inside;
    text-align: center;
    padding: 0;
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #3fa943, #81c784);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 10px rgba(158, 58, 58, 0.4);
}

footer {
    margin-top: -30px;
}

a {
    color:#a57b7b;
}

a:hover {
    color: #b77676;
}

a:active {
    color: white;
}

fieldset {
    border: none;
}

label {
    padding: 5px 5px;
    font-family: 'Poppins';
    font-size: 18px;
    cursor: pointer;
}

legend {
    font-weight: bold;
}

